html, body{
    font-size: 80%;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.5em;
    background-color: #b6ad90;
    font-weight:bold;
}

#page{
	background-image: url('image/bg10.jpg');
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #582f0e;
    background-color: #936639;
}
pic{
	width: 10px;
}
	
#logo{
    width: 150px;
    margin: 10px auto 25px auto;
    text-align:center;
}
#logo img{
    width: 100px;
}
ul{
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #582f0e;
    border-bottom: 1px solid #582f0e;
    text-align: center;
}
li{
    display: inline;
    margin: 0px 3px;
}
p{
    text-align: center;
    width: 600px;
    margin: 20px auto 20px auto;
    font-weight: normal;
    color: #582f0e;
    font-size: 16px;
    font-weight:bold;
}

#info{
	border: 1px solid #582f0e;
}

#pianoimg{
    width: 600px;
    height: 150px;
}
a{
    color: #582f0e;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 14px 5px 14px;
}
a:hover, a.on{
    color: #DCC1A8;
    background-color: #936639;
}